{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<!DOCTYPE html>
<html>
<head>
    <title>HTML Backgorund Color</title>
</head>
<body style="background-color:#FCE899;">
</body>
</html>


<p></p>
<p>This is my data science project which I did in Tichonet Highschool. This project is a website made using flask. This project focuses around data which contains all of the different pokemon, including their stats and types.</p>
<p>I enjoyed the process of making this site.</p>

{% endblock %}

