{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<!DOCTYPE html>
<html>
<head>
    <title>HTML Backgorund Color</title>
</head>
<body style="background-color:#FCE899;">
</body>
</html>


<p>My name is Eden Asher and I am the creator of this site.<br /> I am from Tichonet highschool.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:asher.eden@gmail.com">asher.eden@gmail.com</a><br />
    <abbr title="Phone"><strong>Phone number:</strong></abbr>
    0508103000
</address>

{% endblock %}
