{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron" style="background-color:#FFCB05;padding:15px;">
        <img src="static/pics/pokemonlogo.png" width="350" height="129" />
        <p></p>
        <p class="lead" style="color:#3663AD;"><b>This site provides information about the different Pok&eacute;mon.</b></p>
        <p></p>
    </div>

<!DOCTYPE html>
<html>
<head>
    <title>HTML Backgorund Color</title>
</head>
<body style="background-color:#FCE899;">
</body>
</html>

<div class="row">
    <div class="col-md-4">
        <h2>
            What is Pok&eacute;mon?
        </h2>
        <p>
            Pok&eacute;mon is a game a lot of kids grow up on and everyone loves regardless of age and gender. It's a charming game where you can raise Pok&eacute;mon, who are cute animals, and battle against others using them.
        </p>
        <p>Want to know more about the Pok&eacute;mon in the picture below? Click here:</p>
        <p><a class="btn btn-default" href="https://www.pokemon.com/us/pokedex/bulbasaur" style="background-color:gold;outline-style:auto;color:#3663AD;">More about Bulbasaur &raquo;</a></p>
        <img src="static/pics/Pic3.png" width="300" height="300" />
    </div>
    <div class="col-md-4">
        <h2>Why I chose Pok&eacute;mon?</h2>
        <p>I chose to do my project about Pok&eacute;mon because it is one of my favorite games of all time, and I want others to learn more about it and enjoy it as well.</p>
        <p>Want to know more about the Pok&eacute;mon in the picture below? Click here:</p>
        <p><a class="btn btn-default" href="https://www.pokemon.com/us/pokedex/squirtle" style="background-color:gold;outline-style:auto;color:#3663AD;">More about Squirtle &raquo;</a></p>
        <img src="static/pics/Pic2.png" width="300" height="310" />
    </div>
    <div class="col-md-4">
        <h2>What can I learn from this?</h2>
        <p>With this database you can easily learn about every Pok&eacute;mon and about the mechanics of the game itself. This data can help people either play the game or understand the game.</p>
        <p>Want to know more about the Pok&eacute;mon in the picture below? Click here:</p>
        <p><a class="btn btn-default" href="https://www.pokemon.com/us/pokedex/charmander" style="background-color:gold;outline-style:auto;color:#3663AD;">More about Charmander &raquo;</a></p>
        <img src="static/pics/Pic1.png" width="280" height="320" />
    </div>
</div>

{% endblock %}
